@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
    scroll-behavior: smooth;
}

section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8em;
    font-weight: 800;
    color: rgba(0,0,0,.25);
    text-transform: uppercase;
    background: var(--clr);
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #333;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 50px 0;
}

.logo {
    position: relative;
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    text-decoration: none;    
}

header nav {
    display: flex;    
    gap: 10px;    
}

header nav a {
    position: relative;
    text-decoration: none;
    padding: 12px 20px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}

header nav a.active {
    background: var(--clr);
    color: #333;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

header nav a.active::before {
    content:'';
    position: absolute;    
    bottom: 0;
    width:20px;
    height: 20px;
    background: transparent;
    left: -20px;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px 0  5px var(--clr);
}

header nav a.active::after {
    content:'';
    position: absolute;    
    bottom: 0;
    width:20px;
    height: 20px;
    background: transparent;
    right: -20px;
    border-bottom-left-radius: 20px;
    box-shadow: -5px 5px 0  5px var(--clr);
}